*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    height: 100hw;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
}

#warning{
    background-color: red;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 20px;
    transition: transform 1s;
}

#warning.warningShow{
    transform: translate(-50%, 10px);
}

.centerV{
    display: flex;
    justify-content: center;
}

.hoofdLetters{
    text-transform: uppercase;
}

.hoofdPagH{
    display: flex;
    background-color: black;
    height: 50px;
    margin-bottom: 10px;

    .gebruiker{
        color: white;
        margin: auto 0;
        margin-left: 20px;
    }

    .uitloggen{
        color: white;
        text-decoration: none;
        margin: auto auto;
        margin-right: 20px;
    }
}

.container{
    display: flex;
    padding: 0px 20px;

    .playlistSide{
        min-width: 350px;
        box-sizing: border-box;
        
        .Playlist{
            padding: 10px 0px;
            text-align: center;
            width: 350px;
            background-color: white;
            margin: 0 auto;
            border-radius: 20px;

            .opgeslagenplaylisten{
                margin-top: 10px;

                .liedjesvanPlaylist{
                    display: none;
                }

                form{
                    margin-top: 10px;
                }

                h4{
                    margin-top: 5px;
                }
            }

            a{
                color: black;
            }

            .namePlaylist{
                margin-top: 5px;
            }

            .createPlaylist{
                margin-top: 10px;

                input{
                    margin-top: 5px;
                    width: 80%;
                    box-sizing: border-box;
                }
            }
            

        }

    }

    .songsSide{
        text-align: center;
        width: calc(100% - 370px);


        .songblock{
            background-color: blue;
            margin: 0 40px;
            margin-top: 10px;
            color: white;
            text-decoration: none;
            position: relative;
        }

        .playlistZetten{
            height: 8px;
            width: 8px;
            background-color: white;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            margin-right: 10px;
        }
    }

    .chooseGenre{
        color: white;
        text-decoration: none;
    }
}

.white{
    color: white;
}

.bigCard{
    background-color: white;
    box-sizing: border-box;
    padding: 5px 20px;
    margin: 10px 50px;
    border-radius: 20px;

    h1{
        text-align: center;
    }

    label{
        margin-top: 5px;
        font-size: 24px;
    }
}

.backgroundplaylistSection{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 2;
    display: none;

    .playlistSection{
        position: absolute;
        width: 500px;
        height: 300px;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;

        h1{
            text-align: center;
        }

        #closeSection{
            display: block;
            text-align: center;
        }
        
        a{
            color: black;
            margin-left: 5px;
            margin-top: 5px
        }
    }
}

@import "inloggen";