*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    height: 100hw;
    width: 100%;
}

.centerV{
    display: flex;
    justify-content: center;
}

.hoofdLetters{
    text-transform: uppercase;
}

.inloggen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(14, 108, 61, 0.297);
    width: 700px;
    padding: 20px;
    border-radius: 20px; 
    box-sizing: border-box;

    h1{

        text-align: center;
    }
    label{
        margin-bottom: 2px;
        margin-top: 20px;
    }

    input{
        width: 100%;
        padding: 5px;
        border-radius: 20px;
        border: 2px black solid;
        box-sizing: border-box;
    }

    h1, label{
        color: rgb(210, 209, 209);
        display: block;
    }

    button{
        background-color: rgb(36, 116, 36);
        color: white;
        margin-top: 20px;
        border-radius: 20px;
        padding: 5px 20px;
        border: 2px black solid;
    }
}